// Navigation code here
.navbar{
    .flex(center,space-evenly);
    flex-wrap:wrap;
    background-color:whitesmoke;
    padding:2%;
    padding-bottom: 1%;

    @media @mobile{
        .flex(space-evenly,space-evenly);


    }


    .spacewalker{
        .flex(center, space-evenly);
        flex-wrap: wrap;
        width:100%;
        padding-bottom:1%;
        @media @mobile{
            .flex(center,space-evenly);
        }
    }

    
}
.wrapper{
    @media @mobile{
        .flex(center,space-evenly);
    }
}